<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div>
    <input type="button" name="" id="" value="点击进入聊天室">
</div>
<script src="https://cdn.staticfile.org/socket.io/1.7.3/socket.io.min.js"></script>
<script>
	// let chat = io.connect('/chat');
	// chat.on('news', function (data) {
	// 	console.log(data);
	// 	chat.emit('my other event', { my: 'chat' });
	// });
    //
	// let socket = io.connect('/news');
	// socket.on('connect', function () {
	// 	console.log(111);
	// 	socket.send('hi');
    //
	// 	socket.on('message', function (msg) {
	// 		// my msg
	// 		console.log(11111111);
	// 		console.log(msg);
	// 	});
	// });
</script>
</body>
</html>
